<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Login to your favorite news article conglomeration-search app!</title>
        <meta description='description' content="Login to your favorite news article conglomeration-search app!">
        <meta charset='utf-8'>
    </head>
    <body>
        <h1>Login</h1>
        <form action='/process_login' method='POST'>
            {% csrf_token %}
            <input type='text' placeholder='Email' name='email' required>
            <input type='text' placeholder='Password' name='password' required>
            <button type='submit'>Login</button>
        </form>
        <a href='/'>or Search Anonymously</a>
        {% if messages %}
            <ul class='messages'>
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> 
            {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>